body {
    background-color:pink;
}
#fortune {
    background-color:black;
    color:white;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin: 30px;
    vertical-align: center;
    text-align: center;
    font-size: 30px;
    padding-top: 20px;
}
#triangle {
    background-image: url(..images/triangle-image.png);
    background-position: center;
    margin: 0px;
    height: 160 px;
    width: 170 px;
    vertical-align: bottom;
    cursor: pointer;
}