#multi-text {
    color:darkviolet;
    text-align:middle;
    font-size:20px;
    font-family:fantasy;
}

.container {
    width:1000px;
    margin:0 auto;
    border:5px dashed pink;
    padding:50px;
    background-color:rgb(255, 239, 237);
}

.nav {
    list-style:none;
    text-align:center;
    font-size:25px;
}

.nav li {
    display:inline;
    margin-right:20px;
}

.nav a {
    color:rgb(135, 4, 63);
}

.center-text {
    text-align:center;
}

.my-first-div {
    font-size:20px;
    color:mediumvioletred;
    background-color:lightpink;
    text-align:center;
}

#span-1 {
    color:palevioletred;
    font-size:5px;
}

#span-2 {
    background-color:indigo;
    color:darksalmon;
    font-size:100px;
}